{% extends "base.html" %}
{% block title %}{% endblock %}
{% block static %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/maps.css') }}"
/>
<!-- Google Fonts Icons -->
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<body onload="draw();">
    <!-- <div class="info">
        <p>test</p>
        <p>scale: <span class="scale"></span></p>
        <p>coordinates: <span class="coordinates"></span></p>
    </div> -->
    <span class="open-btn material-symbols-outlined">menu</span>
    <div class="sidebar">
        <div class="heading-box">
            <a class="heading" href="{{ url_for('main.genres') }}">Genres</a>
            <div class="close-btn">
                <span class="material-symbols-outlined">close</span>
            </div>
        </div>
        <ul class="genre-list">
            <div class="list show">
                <p>表示</p>
                {% for genre in genres %}
                <li>{{ genre.genrename }}</li>
                {% endfor %}
            </div>
            <div class="list hide">
                <p>非表示</p>
            </div>
        </ul>
    </div>
    <div class="zoom-btn">
        <div class="zoomin">
            <span class="material-symbols-outlined">add</span>
        </div>
        <div class="zoomout">
            <span class="material-symbols-outlined e15b">remove</span>
        </div>
    </div>
    <div class="map-container">
        <div class="pins"></div>
    </div>
    <script src="{{ url_for('static', filename='js/maps.js') }}"></script>
</body>
{% endblock %}
