{% extends "base.html" %}
{% block title %}ユーザーの一覧{% endblock %}
{% block content %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/login.css') }}"
/>

<body>
<div class="login">
    <h2 class ="login-header">ユーザーの一覧</h2>

    <a href="{{ url_for('main.signup') }} " class = "change">ユーザー新規作成</a>
    <table>
        <tr>
            <th>ユーザーID</th>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
        </tr>
        {% for user in users %}
        <tr>
            <th>
            <a href="{{ url_for('main.edit_user', user_id=user.id) }}">{{ user.id }}</a>
            </th>
            <th>{{ user.username }}</th>
            <th>{{ user.email }}</th>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
{% endblock %}
