{% extends "base.html" %}
{% block title %}サイト新規登録{% endblock %}
{% block static %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create_site.css') }}"/>
<script type="module" src="{{ url_for('static', filename='js/map_utils.js') }}"></script>
<!-- Leaflet用 -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="crossorigin=""/>
<!-- Leaflet -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="crossorigin=""></script>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<body>
    {% include "header.html" %}
    <div class = "site">
        <br>
        <h2 class = "site-header">サイト新規作成 （{{ genre.genname }}）</h2>

        <form
            action="{{url_for('main.create_site', genre_id=genre.genid)}}"
            method="POST"
            novalidate="novalidate"
            enctype="multipart/form-data"
        >
    
            {{ form.csrf_token }}
            <p>
                {{ form.sitename.label }}
                {{ form.sitename(size=30, placeholder="サイト名") }}
            </p>
            <p>
                {{ form.content.label }}
                {{ form.content(size=30, placeholder="場所の詳細やその他情報") }}
            </p>
            <p>
                {{ form.latitude.label }}{{ form.latitude(size=30, placeholder="地点をクリックで入力できます") }}
                {{ form.longitude.label }}{{ form.longitude(size=30, placeholder="地点をクリックで入力できます") }}
            </p>
            <div id="map"></div>
            <p>
                {{ form.image.label }}
                {{ form.image(id="upload-image") }}
            </p>
            <img id="preview" src="" />
            <p>
                {{ form.submit() }}
                <br>
                <a class = 'togray' href="{{ url_for('main.genre_info', genre_id=genre.genid) }}">キャンセル</a>
            </p>
        </form>
        <script>var genId = "{{ genre.genid }}"</script>
        <script type="module" src="{{ url_for('static', filename='js/create_site.js') }}"></script>
    </div>
</body>
{% endblock %}