{% extends "base.html" %}
{% block title %}edit - {{ site.sitename }}{% endblock %}
{% block content %}
<h2>サイト情報編集</h2>
<form
    action="{{ url_for('main.edit_site', site_id=site.siteid) }}"
    method="POST"
    novalidate="novalidate"
>
    {{ form.csrf_token }}
    <p>
        {{ form.sitename.label }} {{ form.sitename(placeholder="サイト名", value=site.sitename) }}
    </p>
    {% for error in form.sitename.errors %}
    <span style="color:red;">{{ error }}</span>
    {% endfor %}
    <p>
        {{ form.content.label }} {{ form.content(value=site.content) }}
    </p>
    {% for error in form.content.errors %}
    <span style="color:red;">{{ error }}</span>
    {% endfor %}
    <p>
        <input type="submit" value="更新" />
        <a href="{{ url_for('main.site_info', site_id=site.siteid) }}">キャンセル</a>
    </p>
</form>
<p></p>
<form 
    action="{{ url_for('main.delete_site', site_id=site.siteid) }}"
    method="post"
>
    {{ form.csrf_token }}
    <input type="submit" value="削除">
</form>
{% endblock %}
