{% extends "base.html" %}
{% block title %}{{ site.sitename }}{% endblock %}
{% block static %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create_site.css') }}"/>
<script type="module" src="{{ url_for('static', filename='js/map_utils.js') }}"></script>
<!-- Leaflet用 -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="crossorigin=""/>
<!-- Leaflet -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="crossorigin=""></script>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}


{% block content %}
<body>
    {% include "header.html" %}
    <br>
    <div class = "site">
        <h2 class = "site-header">{{ site.sitename }}</h2>
        <p>座標: {{ site.coordinates }}</p>
        <p><a class = "toedit" href="{{ url_for('main.edit_site', site_id=site.siteid) }}">編集</a></p>
        <!--<p>座標: {{ site.coordinates }}</p>-->
        <div id="map"></div>
        <p>{{ site.content }}</p>
        <img id="main-image" src="{{ url_for('static', filename='images/uploaded_images/' + main_picture.path) }}" />

        <ul>
        <!-- {% for picture in pictures %} -->
            <li><img src="" /></li> <!-- 後で実装 -->
        <!-- {% endfor %} -->
        </ul>
        <h3 class = "site-h3">コメント</h3>
        <form
            action="{{url_for('main.post_comment', site_id=site.siteid)}}"
            method="POST"
            novalidate="novalidate"
        >
            {{ form.csrf_token }}
            <p>
                {{ form.comment.label }}
                {{ form.comment(size=60) }}
                <br>
                {{ form.submit() }}
            </p>
        </form>
        <br>コメント一覧<br>
        {% if comments %}
        <table>
            {% for comment in comments %}
                <tr>
                    <th>{{ comment.poster }} ： {{ comment.content }}</tr>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>コメントはまだありません。</p>
        {% endif%}

        <script>
            var site_id = "{{ site.siteid }}";
        </script>
        <script type="module" src="{{ url_for('static', filename='js/site_info.js') }}"></script>
        <br>
        <a href="{{ url_for('main.genre_info', genre_id=genre.genid) }}" class = "togray">ジャンル詳細へ</a>
    </div>
</body>
{% endblock %}
