{% extends "base.html" %}
{% block title %}ジャンル新規登録{% endblock %}
{% block static %}

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/genre.css') }}"
/>
{% endblock %}
{% block content %}
<body>
{% include "header.html" %}
<div class="genre">
    <h2 class = "genre-header">ジャンル新規作成</h2>
    <form
        action="{{url_for('main.create_genre', next=request.args.get('next'))}}"
        method="POST"
        novalidate="novalidate"
    >
        {{ form.csrf_token }}
        <p>
            {{ form.genname.label }}
            {{ form.genname(size=30, placeholder="ジャンル名") }}
        </p>
        <p>
            {{ form.caption.label }}
            {{ form.caption(size=60, placeholder="ジャンルについての説明") }}
        </p>
        <br>
        <p>{{ form.submit() }}</p>
    </form>
    <br>
    <a href="{{url_for('main.genres')}}" class = "togray">一覧へ</a>
</div>
</body>
{% endblock %}
