{% extends "base.html" %}
{% block title %}ジャンル新規登録{% endblock %}
{% block static %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/genre.css') }}"
/>
{% endblock %}
{% block content %}
<body>
<div class="genre">
    <h2 class = "genre-header">ジャンル新規作成</h2>
    <form
        action="{{url_for('main.create_genre', next=request.args.get('next'))}}"
        method="POST"
        novalidate="novalidate"
    >
        {{ form.csrf_token }}
        <p>
            {{ form.genrename.label }}
            {{ form.genrename(size=30, placeholder="ジャンル名") }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
</body>
{% endblock %}
