
h2{color:white}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background:   #f0f8ff;
  font-family: 'Open Sans', sans-serif;
}

.genre {
  width: 600px;
  margin: 16px auto;
  font-size: 16px;
  
}

table { 
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table tr{
    border-bottom: solid 1px #eee;
    cursor: pointer;
}
  
table tr:hover{
    background-color: #d4f0fd;
}
  
table th,table td{
    text-align: center;
    width: 25%;
    padding: 15px 0;
}

/* Reset top and bottom margins from certain elements */
.genre-tytle,
.genre p {
  margin-top: 0;
  margin-bottom: 0;
}

.genre-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  border-radius: 10px;
}

.genre-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.genre p {
  padding: 8px 0px;
}

.genre input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

/*submit*/
.genre input[type="submit"] {
  background: #66cdaa;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

.genre input[type="submit"]:hover {
  background: #4d9980;
}

/* Buttons' focus effect */
.genre input[type="submit"]:focus {
  border-color: #05a;
}


/*「ジャンル新規作成」　黄緑ボタン作る*/
a.tonew{
  display:block;
  color: #fff;
  background: #88cc66;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

a.tonew:hover {
  background: #66994d ;
}

a.tonew:focus {
  border-color:#66994d ;
}


/*「ジャンル情報編集」　緑ボタン作る*/
a.togreen{
  display:block;
  color: #fff;
  background: #66cdaa;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

a.togreen:hover {
  background: #4d9980;
}

a.togreen:focus {
  border-color:#4d9980;
}

/*各site,gerneへ　緑ボタン作る*/
a.tonext{
  display:block;
  color: #fff;
  background: #66cdaa;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  margin:5px;
  cursor: pointer;
}

a.tonext:hover {
  background: #4d9980;
}

a.tonext:focus {
  border-color:#4d9980;
}

/*地図へ戻る　一覧へ　aタグでback　グレーボタン*/
a.togray{
  display:block;
  color: #fff;
  background: #b0c4de;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

a.togray:hover {
  background: #778899;
}

a.togray:focus {
  border-color:#778899;
}

/*各site,gerneへ　緑ボタン作る*/
a.tonext{
  display: block;
  color: #fff;
  background: #66cdaa;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

a.tonext:hover {
  background: #4d9980;
}

a.tonext:focus {
  border-color:#4d9980;
}

a.fixed-bottom {
  position: fixed;
  bottom: 0;
}

/*削除色用*/
.genre input[type="submit-erase"] {
  background: #b0c4de;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  width: 200px;
}

.genre input[type="submit-erase"]:hover {
  background: #cc6688;
}

.genre input[type="submit-erase"]:focus {
  border-color:#b0c4de;
}