h2{color:tomato}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background:  #f0f8ff;
  font-family: 'Open Sans', sans-serif;
}

table { 
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
}

table tr:hover{
  background-color: #d4f0fd;
}
  
table th,table td{
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

.login {
  width: 600px;
  margin: 16px auto;
  font-size: 16px;
}

.login-header,
.login-header-hukidashi,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
}

.login-header-hukidashi {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  border-radius: 5px;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

/*enter*/
.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

.login input[type="submit"]:focus {
  border-color:#05a;
}

/*各usereditへ　緑ボタン作る*/
a.tonext{
  display:block;
  color: #fff;
  background: #66cdaa;
  padding: 3px 13px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  margin:5px;
  cursor: pointer;
}

a.tonext:hover {
  background: #4d9980;
}

a.tonext:focus {
  border-color:#4d9980;
}

/*削除色用*/
.login input.submit-erase {
  display: inline-block;
  background: #b0c4de;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  width: 24%;
  text-align: center;
  border-radius: 5px;
  padding: 10px 30px;
}

.login input.submit-erase:hover {
  background: #cc6688;
}

.login input.submit-erase:focus {
  border-color:#b0c4de;
}

/*「ユーザ新規作成」　黄緑ボタン作る*/
a.tonew{
  display:block;
  color: #fff;
  background: #88cc66;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

a.tonew:hover {
  background: #66994d ;
}

a.tonew:focus {
  border-color:#66994d ;
}


/*ログイン⇔新規登録移動*/

.login a.change{
  display:block;
  color: #fff;
  background: #66cdaa;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.login a.change:hover {
  background: #4d9980;
}

.login a.change:focus {
  border-color:#4d9980;
}

/*地図へ戻る　一覧へ　aタグでback　グレーボタン*/
a.togray{
  display: inline-block;
  color: #fff;
  background: #b0c4de;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

a.togray:hover {
  background: #778899;
}

a.togray:focus {
  border-color:#778899;
}